{% extends 'base.html' %} {% load markdownify %} {% block content %}
<main class="recipe-detail">
  {% if user.id == mealplan.owner_id %}
  <div>
    <p><a href="{% url 'meal_plan_update' mealplan.id %}">Edit Plan</a></p>
    <p><a href="{% url 'meal_plan_delete' mealplan.id %}">Delete Plan</a></p>
  </div>
  <h1>{{ mealplan.name }}</h1>
  <p>{{ mealplan.date }}</p>
  <ul>
    {% for recipe in mealplan.recipes.all %}
    <li>
      <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>Not authorized to view!</p>
  {% endif %}
</main>
{% endblock content %}
