{% extends 'base.html' %} 
{% block pagination %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock pagination %}
{% block content %} 
<main class="recipe-grid">
    <a href="{% url 'meal_plan_create' %}">Create Meal Plan</a>
    {% for plan in mealplan_list %}
    <div class="recipe-card">
      <h2 class="recipe-card-title">
        <a href="{% url 'meal_plan_detail' plan.pk %}">{{ plan.name }}</a>
      </h2>
      <p>
        <p class="recipe-card-date">{{ plan.date }}</p>
      </p>
    </div>
    {% endfor %}
  </main>
{% endblock content %}
