{% extends 'base.html' %} {% block content %}
<h1>Sign Up</h1>
<form method="post" action="{% url 'signup_user' %}">
  {% csrf_token %} {{ signup_form.as_p }}
  <button type="submit">Sign Up</button>
</form>
{% endblock %}
